<footer class="tm-footer-area uk-text-center">
    <div class="uk-container uk-container-large">
        <div class="tm-footer-social-area">
            <ul>
                <li title="Folge uns auf Instagram." uk-tooltip>
                    <a href="https://www.instagram.com/woodmans_finest" target="_blank" rel="noopener">
                        <span uk-icon="icon: instagram; ratio: 1.5"></span>
                    </a>
                </li>
                <li title="Folge uns auf YouTube." uk-tooltip>
                    <a href="https://www.youtube.com/channel/UCGYTwHBVk5Dnv4BuGGSDX7A" target="_blank" rel="noopener">
                        <span uk-icon="icon: youtube; ratio: 1.5"></span>
                    </a>
                </li>
                <li title="Folge uns auf Facebook." uk-tooltip>
                    <a href="https://www.facebook.com/Woodmansfinest" target="_blank" rel="noopener">
                        <span uk-icon="icon: facebook; ratio: 1.5"></span>
                    </a>
                </li>
                <li title="Folge uns  auf Twitter." uk-tooltip>
                    <a href="https://www.twitter.com/Woodmans_Finest" target="_blank" rel="noopener">
                        <span uk-icon="icon: twitter; ratio: 1.5"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="uk-container uk-container-large mt50 mb30">
            <div class="uk-flex uk-flex-center">

                <ul class='uk-subnav tm-subnav-footer mb40'>
                    <li><a href="/allgemeine-geschaftsbedingungen/">Allgemeine Geschäftsbedingungen</a></li>
                    <li><a href="/widerrufsrecht/">Widerrufsrecht</a></li>
                    <li><a href="zahlungsarten-und-versand.html">Zahlungsarten und Versand</a></li>
                    <li><a href="/datenschutz/">Datenschutz</a></li>
                    <li><a href="/impressum/">Impressum</a></li>
                </ul>
            </div>
        </div>
        <div class="tm-copyright mt40">
            <p>&copy; 2020 &bull; Woodman&#039;s Finest. Alle Rechte vorbehalten. <br>Design by
                <a href="https://mate-themes.com">MateThemes</a>.
            </p>
        </div>
        <!-- End Theme Copyright -->
        <a href="#" id="scroll-to-up" uk-scroll="duration: 2000" aria-label="Scroll Up">
            <i uk-icon="icon: triangle-up; ratio: 1.5" aria-hidden="true"></i>
        </a>
    </div>
</footer>