/*
 * Theme Custom variables, that customize the UIkit variables or add own variables
 *
 * 1.1 Typography
 * 1.2 Colors
 * 1.3 Buttons
 * 2. Navbar + OffCanvas
 * 3. Slidenav
 *
 */

/*
 *
 * 1.1. Typography
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

$global-font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$base-body-font-weight: 300;
$base-heading-font-weight: 500;

/*
 *
 * 1.2 Colors
 *
 */

$global-color: #000;
$global-emphasis-color: #666;
$global-muted-color: #999;
$global-link-color: #fc9532;
$global-link-hover-color: #fc9532;
$global-inverse-color: #fff;

$global-background: #fff;
$global-muted-background: #f8f8f8;
$global-primary-background: #fc9532;
$global-secondary-background: #222;
$global-success-background: #32d296;
$global-warning-background: #faa05a;
$global-danger-background: #b71c1c;

$icon-link-color: $global-color;
$icon-link-hover-color: $global-muted-color;
$icon-link-active-color: darken($global-muted-color, 10%);

$base-heading-color: $global-color;


/*
 *
 * 1.3 Buttons
 *
 */
$border-custom-color-button-default: #000;

$button-default-background: transparent !default;
$button-default-color: #000;
$button-default-hover-background: #000;
$button-default-hover-color: #fff;
$button-default-active-background: #000;
$button-default-active-color: #fff;
$button-default-border: $border-custom-color-button-default;
$button-default-hover-border: darken($border-custom-color-button-default, 20%);
$button-default-active-border: darken($border-custom-color-button-default, 30%);

/*
 *
 * 2. Navbar + Offcanvas
 *
 */
$navbar-nav-item-height: 110px;
$navbar-background: $global-background;
$navbar-nav-item-color: $global-color;
$navbar-nav-item-hover-color: $global-link-color;
$navbar-nav-item-active-color: darken($global-link-color, 10%);

$navbar-toggle-color: $global-color;
$navbar-toggle-hover-color: $global-link-color;

$offcanvas-overlay-background: rgba(0,0,0,0.5);
$offcanvas-bar-background: $global-background;
$offcanvas-bar-color-mode: dark;

/*
 *
 * 3. Slidenav
 *
 */
$slidenav-large-padding-vertical: 38px;
$slidenav-large-padding-horizontal: 36px;

/*
 *
 * Tooltip
 *
 */ 
$tooltip-background: #000;
$tooltip-border-radius: 0;
$tooltip-color: #fff;
$tooltip-font-size: 14px;


// 2. Import default variables and available mixins.
@import "../../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../../../node_modules/uikit/src/scss/uikit-theme.scss";

// 5. Custom Theme Styles
@import "theme/_footer.scss";